ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #fafafa;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  font: 20px "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

li {
  float: left;
  width: 25%;
  line-height: 50px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

/*COLORS */
.link1 {
  color: #e24e42;
}

.link2 {
  color: #e9b000;
}

.link3 {
  color: #1fb58f;
}

.link4 {
  color: #93648d;
}

/*BODY CONTAINER */
.container {
  margin-top: 50px;
  background-color: white;
  height: auto;
}

.banner {
  width: 100%;
  text-align: center;
}

.banner img {
  height: 300px;
}
